{% extends "base.html" %}
{% load static %}
{% block content %}

          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Tasks Table</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                              <th>Task Name</th>
                            <th>Manager</th>
                              <th>Status</th>
                            <th>Deadline</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% for data in data %}
                            <td>{{data.progress_task_id.task_name}}</td>
                            <td>{{data.progress_task_id.manager_id}}</td>

                              {% if data.status == 'PENDING' %}
                                <td><label class="badge badge-danger">Pending</label></td>
                              {% elif data.status == 'IN PROGRESS' %}
                                <td><label class="badge badge-warning">In progress</label></td>
                              {% elif data.status == 'FIXED' %}
                                <td><label class="badge badge-info">Fixed</label></td>
                              {% elif data.status == 'COMPLETED' %}
                                <td><label class="badge badge-success">Completed</label></td>
                              {% endif %}
                            <td>{{data.progress_task_id.deadline}}</td>
                              <td>{{data.progress_task_id.description}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}