{% extends "base.html" %}
{% load static %}
{% block content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Blockers Table</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>id</th>
                              <th>Task</th>
                            <th>Intern</th>
                            <th>Label</th>
                              <th>Query</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                            {% for data in data %}
                            {% if request.user.user_id == data.manager_id.user_id %}
                            <td>{{data.blocker_id}}</td>
                            <td>{{data.blocker_task_id}}</td>
                              <td>{{data.intern_id}}</td>
                            <td>{{data.label}}</td>
                              <td>{{data.query}}</td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}